image: ruby:3.3.9

pipelines:
  tags:
    v*:
      - step:
          name: Test and deploy
          deployment: production
          caches:
            - bundler
          script:
            - gem install bundler
            - gem install bundler-audit
            - bundler-audit
            - bundle install --path vendor/bundle
            - "export GEM_FILENAME=$(gem build *.gemspec | grep -oE 'File: (.+)' | cut -d ' ' -f 2)"
            - export GEM_HOST_API_KEY="Token $CLOUDSMITH_API_KEY"
            - gem push $GEM_FILENAME --host 'https://ruby.cloudsmith.io/readcube/main'
definitions:
  caches:
    bundler: vendor/bundle